* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1d1d1d;
    color: white;
}
.container {
    width: 90%;
    margin: auto;
}

/*-----------Header-----------*/
header {
    position: fixed;
    top: 0;
    min-height: 80px;
    padding-top: 0;
    background-color: rgba(29, 29, 29, 0.4);
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    z-index: 2;
    transition: background-color 0.2s, min-height 0.2s, padding-top 0.2s;
    -webkit-transition: background-color 0.2s, min-height 0.2s, padding-top 0.2s;     
}
header #logo {
    float: left;
    color: rgb(241,241,241);
    display: inline;
}
header #logo-image {
    width: 120px;
    height: 120px;
}
header #logo-text {
    margin-top: -80px;
    margin-left: 120px;
}
header nav {
    float: right;
    margin-top: 40px;
}
header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
header nav ul li {
    display:inline-block;
    padding: 10px 30px 20px 30px;  
}
header nav a {
    display:block;
    color: rgb(241,241,241);
    font-size: 18px;
    padding-top: 4px;
    text-decoration:none;
    transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;   
}
header nav a:hover {
    color: rgb(184, 184, 184);
}

/* Hide Dropdowns by Default */
header nav ul ul {
	display: none;
    position: absolute; 
    top: 50px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
header nav ul li:hover > ul {
	display: inherit;
}

/* Fisrt Tier Dropdown */
header nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
    position: relative;
    background-color: rgba(29, 29, 29, 0.2);
}

/* Second, Third and more Tiers	*/
header nav ul ul ul li {
	position: relative;
	top:-60px; 
    left:130px;
}

/* Change this in order to change the Dropdown symbol */
header li > a:after { content:  ' +'; }
header li > a:only-child:after { content: ''; }

/*-----------Title Image-----------*/
.titleHeader {
    position: relative;
    height: 20%;
}

.titleText {
    position: absolute;
    font-size: 100px;
    bottom: 10%;
    left: 8%;
}
.titleText2 {
    position: absolute;
    font-size: 20px;
    bottom: 8%;
    left: 8.5%;
}

/*-----------ImageSlide-----------*/
.imageSlide {
    position: relative;
    min-height: 800px;
    text-align: center;
    color: #fff;   
    background-attachment: fixed;
    background: url() no-repeat ;
}
.imageSlidePage {
    position: absolute;
    top: 40%;
    right: 0%;
    /*height: 145px;*/
    padding: 20px;
    background-color: rgba(29, 29, 29, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
}
.imageSlidePage h2 {
    font-size: 40px;
    display: inline-block;
    margin-right: 40px;
}
.imageSlidePage p {
    font-size: 18px;
    width: 400px;
    text-align: justify;
    display: inline-block;
    margin-right: 40px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgb(41, 41, 41);
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*-----------Small Boxes-----------*/
/*Not: Small Boxları ortalayamadım o yüzden margin ekledim*/
#smallBoxes {
    display: flex;
    margin-top: 4%;
    margin-bottom: 5%;
}
#smallBoxes .smallBox {
    float: left;
    text-align: center; 
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2.5%;
}
#smallBoxes img  {
    width: 140px;
    padding: 20px;
}
#smallBoxes h3 {
    font-size: 140%;
    padding-bottom: 8px;
}
#smallBoxes p {
    text-align: justify;    
}

/*-----------News Boxes-----------*/
/*rgb(94, 93, 93)*/
#news .newsBox {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    background-color: #F26419;
    padding: 40px;
}
#news .newsBox:nth-of-type(even) {
    background-color: #003f5a;
}
#news .newsBox h4 {
    font-size: 40px;
}
#news .newsBox p{
    float: left;
    text-align: justify;
    width: 50%;
    padding: 20px;
}

.newsTable {
    width: 80%;
    margin: auto;
}
.newsTable td {
    width: 40%;
}
.newsTable li {
    width: 50%;
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
}

.title-hr hr {
    display: inline-block;
    width: 36%;
    margin: 5px 10px;
    border-top: 1px solid #e5e5e5;
}
.title-hr {
    text-align: center;
}
/*-----------Download Button-----------*/
.downloadButton {
    background-color: rgb(32, 46, 68);
    border: none;
    border-radius: 2px;
    color: rgb(241,241,241);
    padding: 10px 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
  }
  .downloadButton:hover {
    background-color: rgba(24, 34, 51, 0.842);
  }

  .infoBtn {
    background-color:    #003f5a;
    border-radius: 11px;
    padding:       15px 25px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    text-decoration: none;
  }
 
/*-----------Footer-----------*/
footer {
    padding: 20px;
    margin-top: 20%;
    color: white;
    background-color: rgb(45, 55, 71);
    text-align: center;
}
footer p {
    font-size: 110%;
    font-weight: bold;
}
/*-----------Responsive-----------*/
@media(max-width: 1300px) {
    header #logo, header nav, header nav li,.imageSlideText, .imageSlideText h2, .imageSlideText p{
        float: none;
        text-align: center;
        width: 100%;
    }
    header #logo {
       display: block;
    }
    header #logo-text {
        display: none;
    }

    #smallBoxes .smallBox {
        float: none;
        text-align: center;
        width: 100%;
    }

    /* Hide Dropdowns by Default */
    header nav ul ul {
        display: none;
    }
    
    /* Second, Third and more Tiers	*/
    header nav ul ul ul li {
        display: none;
    }
    
    /* Change this in order to change the Dropdown symbol */
    header li > a:after { content:  ''; }
    header li > a:only-child:after { content: ''; }

    .newsTable tr td {
        display: block;
        width: 100%;
        margin: auto;   
    }
    .newsTable tr ul {
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .title-hr hr {
        display: none;
    }

    .titleHeader {
        display: none;
    }
    
    .titleText {
        display: none;
    }
    .titleText2 {
        display: none;
    }
}